on:
  schedule:
    - cron: '0 13 * * 0,1,4,5' # Trigger every Sunday, Monday, Thursday, Friday at 10pm JST
  workflow_dispatch:
jobs:
  send-post:
    runs-on: ubuntu-latest
    steps:
      - name: Set body variable
        id: set_body
        run: |
          if [[ "$(date +%u)" -eq 0 ]]; then
            echo "::set-output name=body::{\"day\": \"Mon\"}"
          elif [[ "$(date +%u)" -eq 1 ]]; then
            echo "::set-output name=body::{\"day\": \"Tue\"}"
          elif [[ "$(date +%u)" -eq 4 ]]; then
            echo "::set-output name=body::{\"day\": \"Fri\"}"
          elif [[ "$(date +%u)" -eq 5 ]]; then
            echo "::set-output name=body::{\"day\": \"Sat\"}"
          else
            echo "::set-output name=body::{\"day\": \"week\"}"
          fi

      - name: Send POST request
        run: |
          curl -X POST -H "Content-Type: application/json" -d "${{ steps.set_body.outputs.body }}" https://mr-garbage.herokuapp.com/day